version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:13.2.0-stretch
    steps:
      - checkout
      - run:
          name: Download npm packages
          command: npm install
      - run:
          name: Check JavaScript formatting
          command: npm run check-format
      - run:
          name: Run linter
          command: npm run lint
      - run:
          name: Build static pages
          command: npm run build
      - persist_to_workspace:
          root: ./
          paths:
            - ./dist
            - firebase.json
            - .firebaserc
  deploy:
    docker:
      - image: mtlynch/firebase-tools:8.1.1-node-14.0.0
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Deploy to firebase
          command: firebase deploy --token="$FIREBASE_DEPLOY_TOKEN"
workflows:
  version: 2
  test-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
